<aside class="sidebar">
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="Logo de la aplicación Tu Bolsillo">
            <span>Tu Bolsillo</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#" class="selected"><i class="fa-solid fa-grip"></i><span>Dashboard</span></a></li>
            <li><a href="#"><i class="fa-solid fa-money-bill-transfer"></i><span>Transacciones</span></a></li>
            <li><a href="#"><i class="fa-solid fa-list"></i><span>Categorías</span></a></li>
            <li><a href="#"><i class="fa-solid fa-user"></i><span>Perfil</span></a></li>
        </ul>
    </nav>
    <footer>
        <ul class="actions">
            <li><a href="#"><i class="fa-solid fa-gear"></i><span>Configuración</span></a></li>
            <li><a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
    </footer>
</aside>